body {
    margin: 0;
    padding: 0;
    background-color: #2B4936;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
}

form {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

#title {
    margin-bottom: 30px;
    font-size: 30px;
}

.outerbox {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 330px; 
    border-radius: 18px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

#text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    text-align: center;
    color: black;
    border-radius: 10px;
    width: 500px;
    height: 110px;
    font-size: 14px;
    background-color: white;
    border: 2px solid rgb(185, 185, 185)
}

#btn {
    margin-top: 40px;
    padding: 10px;
    width: 250px;
    color: white;
    border: none;
    background-color: #79A082;
    border-radius: 18px;
    margin-bottom: 10px;
}

#line {
    margin: 14px;
    width: 370px;
    border: 1px solid rgb(185, 185, 185);
  }

#preTitle {
    margin-top: 30px;
    margin-bottom: -6px;
    font-size: 14px;
}


::placeholder {
    color: rgb(145, 145, 145);
}

ul {
    margin: 0;
    padding: 0;
    list-style: circle;
}

li {
    color:#79A082;
}