body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2B4936;
    color: white;
  }

  #image {
    position: absolute;
    margin-bottom: 500px;
    width: 220px;
  }
  
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #container2 {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #5f7a67;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  #user {
    margin-top: 30px;
  }
  
  .input {
    padding: 12px;
    margin: 8px;
    width: 350px;
    border-radius: 10px;
    border: none;
    border: 2px solid rgb(192, 192, 192);
  }
  
  ::placeholder {
    color: rgb(145, 145, 145);
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 18px;
    width: 470px;
    height: 420px;
  }
  
  .group {
    display: flex;
    align-items: center;
  }
  
  #show {
    margin-left: 4px;
    color: rgb(145, 145, 145);
    font-size: 13px;
  }
  
  #line {
    margin: 14px;
    width: 370px;
    border: 1px solid rgb(185, 185, 185);
  }
  
  .btn {
    padding: 10px;
    width: 300px;
    color: white;
    background-color: #79A082;
    border-radius: 18px;
    border: none;
  }

  #register {
    color: #2B4936;
    font-size: 12px; 
    margin: 10px;
  }
  